
<nav>
  <div >
    <button class="nav__button" [ngStyle]="{'background-color':'#043464'}"  (click)="toggleActive()">MENU</button>
    <div class="container" [ngClass]="{'on':button , 'off':!button}">
      <ul>
        <li *ngFor="let element of navigation">
          <a routerLink="{{ element.link }}"><img (click)="toggleActive()" src="{{element.icon.src}}" alt="" ></a>
          
          <a class="letras" (click)="toggleActive()" routerLink="{{ element.link }}">{{ element.name }}</a>
        </li>
      </ul>
    </div>
  </div>

    
</nav>
